.horizontal {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.h-column {
    width: 100%;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}
.v-column {
}
.margin-vertical {
    margin-top: 1em;
    margin-bottom: 1em;
}
#img_display {
    flex-grow: 1;
    width: 100px;
    height: 100px;
    object-fit: fill;
}
input:invalid.borderable {
    box-shadow: 0 0 4px red;
}

input:valid.borderable {
    box-shadow: 0 0 4px green;
}
table,
th,
td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
